@import "./variables";


body {
    overflow: hidden;
}

.payment-page {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    margin-top: 50vh;
}

.order-info {
    display: flex;
    flex-direction: column;
    gap: 150px;

    span#id,
    span#cost {
        font-size: 128px;
        color: $primary-color;
        margin-left: 128px;
        font-weight: 600;
        display: flex;
        flex-direction: column;


        span {
            font-size: 64px;
            color: white;
        }
    }

}