@import "./variables";
$preferred: 666px;
$minval: 60vw;

img.qr {
  width: min($minval, $preferred);
  height: min($minval, $preferred);
  image-rendering: crisp-edges;
  mix-blend-mode: hard-light;
}